{% extends "admin/home.html" %}

    {% block alf %}

    <div id="mainCanvas">
        <!-- MAP VIEW CANVAS -->
        <div id="map-canvas"></div>

        <!-- TABLE VIEW CANVAS -->
        <div id="tablecanvas">
            <div id="posTableContainer">
                <table id="posTable" class="ui compact table segment">
                    <thead>
                        <tr>
                            <th id="posId">ID</th>
                            <th id="district">District/Area</th>
                            <th id="num">Number of Facilities</th>
                            <th id="publishedText">Text</th>
                            <th id="publishedImage">Image</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


    {% endblock %}


</body>

</html>
