<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title>ha</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  </style>

  <script type="text/javascript">
  
  function postData() {
    var post_data = {
	  "hub.mode": "subscribe",
	  "hub.topic":"140.109.22.197/static/Topic/TWN-100-051223",
	  "hub.callback":"http://140.109.22.142/callback"
    }
	
	post_data = JSON.stringify(post_data);
    var hr = new XMLHttpRequest();
    var serverUrl = "http://140.109.22.197/subscribe/";
    hr.open("POST", serverUrl, true);
    hr.send(post_data);
  }

  </script>
</head>

<body style='border:none'>
  <button type="button" onclick="postData()">post!</button>
</body>

</html>
