{% extends 'admin/master.html' %} {% block head_tail %} {{ super() }}

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>

{% endblock %}
{% block body %}
{% block alf %}


<div class="ui blue ribbon label">Small White</div>
  <p> baismall@iis.sinica.edu.tw</p>
<div class="ui teal ribbon label">Johnson</div>
  <p> johnsonsu@iis.sinica.edu.tw </p>
<div class="ui green ribbon label">Doc</div>
  <p> doc@iis.sinica.edu.tw</p>

{% endblock %}
{% endblock %}
