{% extends 'admin/master.html' %} {% block head_tail %} {{ super() }}
<link rel="stylesheet" href="/static/css/style.css" type="text/css" id="" media="print, projection, screen" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC0MXBPQYPcc3IAhEJJdCDE6bGPhFobPHo&sensor=false">
</script>

<script type="text/javascript" src="/static/javascript/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/javascript/v3_ll_grat.js"></script>

<style type="text/css">
#Fac_sidebar {
  float: left;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#POSside_bar {
  float: left;
  width: 100%;
  height: 80%;
  overflow: auto;
}
</style>

{% endblock %} {% block body %}


<script type='text/javascript'>
/**
 * @param {String} [xmlData] Record xml text for parsing
 * @param {Object} [region] Region object
 * @param {Object} [region.name] District name
 * @param {Object} [region.postalCode] Postal code that be express assigned district
 * @param {Object} [pos] POS object
 * @param {Object} [pos.special_id] ID for certification
 * @param {Object} [pos.ward] District that POS locate
 * @param {Object} [pos.lat] A geographic coordinate that specifies the north-south position of a POS
 * @param {Object} [pos.lng] A geographic coordinate that specifies the east-west position of a POS
 * @param {String} [posText] Record text that will be sent to server for storing in the database
 */
//setTimeout("location.reload();",30000);

/// google map object needed
var map;
var grid;
var rectangle;
var gmarkers = [];
var infoWindow = new google.maps.InfoWindow();
var facMarkers = [];
var posMarkers = [];
var geocoder = new google.maps.Geocoder();

//record each POS bound range
var boundArray = [];

var originLatLng = "";
var jsonData = ""; //receive json data server response
var pos_index = "";
var rowIds = 0; //record table row count
var httpRequest = new XMLHttpRequest(); //bulid http request
var frontera = ""; //fusion table key
var posServer = [];
var fac = [];
var allWard = [];
var topicText = [];
var staticImg = [];

/*
   Description : 
    This function initialize the google map and grid, Also, it request the server for setup information.
/*--------------------------------------------------------------------------------------------------------------*/

function initialize() {
  Loadmap();
  grid = new Graticule(map);
  Setup();
}

/*
  Description : 
    This function describe that find google map element and set its propeties.
---------------------------------------------------------------------------------------------------------------*/

function Loadmap() {
  map = new google.maps.Map(document.getElementById('map_canvas'), {
    zoom: 11,
    maxZoom: 21
  });
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that  it request server for setup information, and Server will
    response it, then start setting.
---------------------------------------------------------------------------------------------------------------*/

function Setup() {
  var xmlhttp;
  if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp = new XMLHttpRequest();
  } else { // code for IE6, IE5
    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

      //Receive Setup Information Server responses
      var configInfo = xmlhttp.responseText;
      //Add "()" and become json string for parsing
      var obj = eval("(" + configInfo + ")");

      city = obj.city;

      //Store the origin of coordinate that will be used to cut rectangle. 
      originLatLng = obj.configInfo.coordinates;
      
      //Set the target that will be monitor, and finish geographic setting.
      SetFacility(obj.data);
      SetPOS(obj.posInfo);
      SetCenter(city);
      SetGeo(obj.wardInfo);
      ShowBoundary(obj.configInfo.key);
    }
  }
  xmlhttp.open("POST", "http://140.109.22.197/fetch/", true);
  xmlhttp.send("setupInfo");
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that store each POS object and its properties, then, show their status.
  Arguments : 
    posData - Response POS servers information from server side. 
---------------------------------------------------------------------------------------------------------------*/

function SetPOS(posData) {
  for (var i = 0; i < posData.length; i++) {
    var pos = new Object();
    pos.myname = posData[i].id;
    pos.myward = posData[i].district;
    pos.cutWay = posData[i].method;
    pos.lat = posData[i].latitude;
    pos.lng = posData[i].longitude;
    pos.isexist = posData[i].isContact;
    posServer.push(pos);

    CreateMarker(pos, 'pos');
    SetBound(pos, posData[i].bound_Latlng1, posData[i].bound_Latlng2);
    AddToTable(pos, i);
    BuildPubTable(pos, i);
  }
}

/*-------------------------------------------------------------------------------------------------------------*/
/*
  Description : 
    This function describe that store each facility object and its properties.
  Arguments : 
    facData - Response facilities information from server side. 
---------------------------------------------------------------------------------------------------------------*/

function SetFacility(facData) {
  if (facData.length == 0) {
    $('.ui.modal').modal('show');
  } else {
    for (var i = 0; i < facData.length; i++) {
      var facility = new Object();
      facility.myid = facData[i].id;
      facility.myname = facData[i].name;
      facility.mytype = facData[i].type;
      facility.kind = facData[i].category;
      facility.myward = facData[i].district;
      facility.address = facData[i].address;
      facility.tel = facData[i].telephone;
      facility.lat = facData[i].latitude;
      facility.lng = facData[i].longitude;
      facility.moreInfo = facData[i].description;
      fac.push(facility);
      CreateMarker(facility, 'fac');
    }
  }
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that place a marker for identifying a location on a map.
  Arguments : 
    place - The POS or other facilities object.
    placeName - The POS or other facilities name which people get used to call.
---------------------------------------------------------------------------------------------------------------*/

function CreateMarker(place, placeName) {
  var marker = new google.maps.Marker({
    position: new google.maps.LatLng(place.lat, place.lng),
    map: map,
    title: place.myname,
  });
  marker.myname = place.myname;
  marker.myward = place.myward;
  marker.mylat = place.lat;
  marker.mylon = place.lng;

  var html = '<div style="width: 240px; height: 50px"><b>' + place.myname + '<\/b><br>' + '<\/div>';

  google.maps.event.addListener(marker, 'click', function() {
    if (infoWindow) {
      infoWindow.close();
    }
    infoWindow = new google.maps.InfoWindow({
      content: html
    });
    infoWindow.open(map, marker);
  });

  if (placeName == 'fac') {
    marker.setIcon('/static/img/facility.png')
    marker.setMap(null);
    facMarkers.push(marker);
  } else {
    if (place.isexist == true) {
      marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
    }
    posMarkers.push(marker);
  }
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that each POS will be assigend a ractangle by setting the bounds of rectangle and surround its marker on Google Maps.
  Arguments : 
    pos - One object is about the POS server.
    minPoint - south-west corner coordinate
    maxPoint - north-east corner coordinate
---------------------------------------------------------------------------------------------------------------*/

function SetBound(pos, mixPoint, maxPoint) {
  
  //Saparate latitude and longitude by splitting the ',' character.
  var coordinates = originLatLng.split(",");
 

  //Calculate the distances from the latitude of origin to latitude of POS location and 
  //from the longitude of origin to longtitude of POS location.
  var dy = parseFloat(pos.lat) - parseFloat(coordinates[0]);
  var dx = parseFloat(pos.lng) - parseFloat(coordinates[1]);

  //Calculate which number of row and column will be assign.
  var qy = Math.floor(dy / 0.005) + parseFloat(1);
  var qx = Math.floor(dx / 0.01) + parseFloat(1);

  //Create new object that record the bounds of rectangle.
  var bound = new Object();

  if (pos.cutWay == "District") {
    bound.minLat = parseFloat(coordinates[0]) + ((parseFloat(0.005)) * qy) - parseFloat(0.005);
    bound.minLng = parseFloat(coordinates[1]) + ((parseFloat(0.01)) * qx) - parseFloat(0.01);
    bound.maxLat = parseFloat(coordinates[0]) + (parseFloat(0.005)) * qy;
    bound.maxLng = parseFloat(coordinates[1]) + (parseFloat(0.01)) * qx;
  } else {
    bound.minLat = mixPoint.split(",")[0];
    bound.minLng = mixPoint.split(",")[1];
    bound.maxLat = maxPoint.split(",")[0];
    bound.maxLng = maxPoint.split(",")[1];
  }
  bound.minPoint = bound.minLat + ',' + bound.minLng;
  bound.maxPoint = bound.maxLat + ',' + bound.maxLng;
  
  boundArray.push(bound);
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that create a data table and show each POS status such as partition method what use, 
    how many facility be assigned .
  Arguments : 
    pos - One object is about the POS server.
    index - An integer pointer that identifies the POS server
---------------------------------------------------------------------------------------------------------------*/

function AddToTable(pos, index) {

  var tr = $("<tr></tr>").addClass("dynamic_tr").attr("id", "trNo" + index);

  var tdName = $('<td nowrap="nowrap"><a onclick="POS_Position(' + index + ');">' + pos.myname + '</a></td>').attr("id",
    "tdName" + index);
  tr.append(tdName);

  var tdArea = $('<td nowrap="nowrap"><p>' + pos.myward + '<\/p></td>').attr("id", "tdArea" + index);
  tr.append(tdArea);

  var tdNumber = $('<td></td>').text(getFacInfo(index)).attr("id", "tdNum" + index);
  tr.append(tdNumber);

  var tdMethod = $("<td></td>");
  var tdSelect = $('<select style="width: 60px"></select>').attr("index", index).attr("id", "choice" + index);

  if (posServer[index].cutWay == "District") {
    var tdOption = $('<option>District</option><option>Rectangle</option>');
  } else {
    var tdOption = $('<option>Rectangle</option><option>District</option>');
  }

  tdSelect.append(tdOption);
  tdMethod.append(tdSelect);
  tr.append(tdMethod);

  //The event occurs when the selector have been changed
  tdSelect.change(function() {
    SwitchMethod(this)
  });

  $("#myTable").append(tr);
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that create a data table and show each POS status such as partition method what use, 
    how many facility be assigned.
  Arguments : 
    pos - One object is about the POS server.
    index - An integer pointer that identifies the POS server
---------------------------------------------------------------------------------------------------------------*/

function SwitchMethod(selector) {
  var posIndex = $(selector).attr("index");
  if (selector.options[selector.selectedIndex].text == 'District') {
    DistrictMethod(posIndex);
  } else {
    RectangleMethod(posIndex);
  }
  google.maps.event.trigger(posMarkers[posIndex], 'click');
  PostServer(posIndex, "Update");
}

/*-------------------------------------------------------------------------------------------------------------*/
/*
  Description : 
    This function describe that excute the processes of district method. 
  Arguments : 
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/
function DistrictMethod(index) {
  posServer[index].cutWay = 'District';
  SwitchArea(index);
  ShowFacility(index);
  CheckRec();
  //MakeImg();
  var num = getFacInfo(index);
  ChangeColumnVal(index, num);
}
/*-------------------------------------------------------------------------------------------------------------*/
/*
  Description : 
    This function describe that excute the processes of rectangle method. 
  Arguments : 
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function RectangleMethod(index) {
  posIndex = index;
  posServer[index].cutWay = 'Rectangle';
  ShowRec(index);
  map.setZoom(14);
  ShowNearFac(index);
  var num = getFacInfo(index);
  ChangeColumnVal(index, num);
  google.maps.event.addListener(rectangle, 'bounds_changed', ShowNewRect); //event active when rectangle is changed
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that modify the specified column value that is the number of facilities . 
  Arguments : 
    index - The number of rows.
    number - The number of facilities.
---------------------------------------------------------------------------------------------------------------*/

function ChangeColumnVal(index, number) {
  index++;
  var cell = document.getElementById('myTable').rows[index].cells;
  cell[2].innerHTML = number;
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that create a table and show each POS published status such as published text, 
    published image and published time. 
  Arguments : 
    pos - One object is about the POS server.
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function BuildPubTable(pos, index) {
  var tr = $("<tr></tr>").addClass("dynamic_tr").attr("id", "trNo" + index);
  var tdName = $("<td></td>").text(pos.myname).attr("id", "tdName" + index);
  tr.append(tdName);

  var tdWard = $("<td></td>").text(pos.myward).attr("id", "tdWard" + index);
  tr.append(tdWard);

  var tdMethod = $("<td></td>").text(pos.cutWay).attr("id", "tdMethod" + index);
  tr.append(tdMethod);

  var tdTxt = $("<td></td>");
  var btnTxt = $("<button></button>").text("Text").attr("index", index).attr("id", "btnTxt" + index);

  //Open the text.
  btnTxt.click(function() {
    var index = $(this).attr("index");
    fnOpen("Text", parseInt(index));
    index--;
  });

  tdTxt.append(btnTxt);
  tr.append(tdTxt);

  var tdImg = $("<td></td>");
  var btnImg = $("<button></button>").text("Image").attr("index", index).attr("id", "btn" + index);

  //Open the image.
  btnImg.click(function() {
    var index = $(this).attr("index");
    fnOpen("Image", parseInt(index));
    index--;
  });

  tdImg.append(btnImg);
  tr.append(tdImg);

  $("#pubTable").append(tr);
  PostServer(index, "Download");
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that jump the POS location on map and display its district and rectangle. 
  Arguments : 
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function POS_Position(index) {
  google.maps.event.trigger(posMarkers[index], 'click');
  if (posServer[index].cutWay == 'District') {
    DistrictMethod(index);
  } else {
    RectangleMethod(index);
  }
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that calculate the numbers of facility that assigned the specified POS and build 
    each Topic content. 
  Arguments : 
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function getFacInfo(index) {
  var jsonArrayText = [];
  var num = 0;

  imgUrl = SetImgInit(index);

  if (posServer[index].cutWay == 'District') {
    imgUrl += "&zoom=14"
    for (var k = 0; k < facMarkers.length; k++) {
      if (facMarkers[k].myward == posServer[index].myward) {
        num++;
        facElement = CreateElement(k);

        if((imgUrl + SetUrl(facMarkers[k].mylat, facMarkers[k].mylon)).length<2048){
          imgUrl += SetUrl(facMarkers[k].mylat, facMarkers[k].mylon);
        }
        jsonArrayText.push(facElement);
      }
    }
  } else {
    var html = '';
    imgUrl += "&zoom=14"
    for (var m = 0; m < facMarkers.length; m++) {
      if (((boundArray[index].minLat < facMarkers[m].mylat) && (facMarkers[m].mylat < boundArray[index].maxLat)) && ((boundArray[index].minLng < facMarkers[m].mylon) && (facMarkers[m].mylon < boundArray[index].maxLng))) {

        html += '<a class="item" href="javascript:Fac_Position(' + m + ')">' + facMarkers[m].myname + '<\/a><br>';
        num++;

        facElement = CreateElement(m);
        if((imgUrl + SetUrl(facMarkers[m].mylat, facMarkers[m].mylon)).length<2048){
          imgUrl += SetUrl(facMarkers[m].mylat, facMarkers[m].mylon);
        }
        jsonArrayText.push(facElement);
      }
    }
    document.getElementById('Fac_sidebar').innerHTML = html;
  }
  imgUrl += "&size=640x640&sensor=false";

  jsonArrayText = JSON.stringify(jsonArrayText);
  topicText[index] = jsonArrayText;
  staticImg[index] = imgUrl;

  return num;
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that create a json element that record facility property such as name, address, 
    telephone and coordinate. 
  Arguments : 
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function SetImgInit(index) {
  var imgCenterX = (parseFloat(boundArray[index].minLat) + parseFloat(boundArray[index].maxLat)) / 2;
  var imgCenterY = (parseFloat(boundArray[index].minLng) + parseFloat(boundArray[index].maxLng)) / 2;

  var url = "http://maps.googleapis.com/maps/api/staticmap?center=" + imgCenterX + "," + imgCenterY + "&markers=icon:http://www.worldvision.org.hk/images/icons/7_11_icon.png|" + posServer[index].lat + "," + posServer[index].lng;

  return url;
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
Description : 
  This function describe that create a json element that record facility property such as name, address, 
  telephone and coordinate. 
Arguments : 
  index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function CreateElement(index) {
  element = {
    "ID": fac[index].myid,
    "Name": fac[index].myname,
    "Type": fac[index].mytype,
    "Category": fac[index].kind,
    "District": fac[index].myward,
    "Address": fac[index].address,
    "Telephone": fac[index].tel,
    "Latitude": fac[index].lat,
    "Longitude": fac[index].lng,
    "MoreInfo": fac[index].moreinfo
  }
  return element;
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that create a json element that record facility property such as name, address, 
    telephone and coordinate. 
  Arguments : 
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function SetUrl(latitude, longtitude) {
  url = "&markers=color:green|" + latitude + "," + longtitude;
  return url;
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that display the rectangle that surround the POS on google map. 
  Arguments : 
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function ShowRec(index) {

  CheckRec();

  //Set bound range
  var bounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(boundArray[index].minLat, boundArray[index].minLng),
    new google.maps.LatLng(boundArray[index].maxLat, boundArray[index].maxLng)
  );

  //Set rectangle properties
  rectangle = new google.maps.Rectangle({
    bounds: bounds,
    editable: true
  });

  rectangle.setMap(map);
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that jump to different district on google map according POS location. 
  Arguments : 
    number - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function SwitchArea(number) {
  for (var n = 0; n < allWard.length; n++) {
    if (posServer[number].myward == allWard[n]) {
      SetCenter(city+posServer[number].myward);
      map.setZoom(12);
    }
  }
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that display faicilities by district on google map according POS's location. 
  Arguments : 
    number - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function ShowFacility(number) {
  var html = '';
  html += '<b class="item">' + posServer[number].myward + '<\/b><br><br>';

  for (var n = 0; n < facMarkers.length; n++) {
    if (facMarkers[n].myward == posServer[number].myward) {
      facMarkers[n].setMap(map);
      html += '<a class="item" href="javascript:Fac_Position(' + n + ')">' + facMarkers[n].myname + '<\/a><br>';
    } else {
      facMarkers[n].setMap(null);
    }
  }
  document.getElementById('Fac_sidebar').innerHTML = html;
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that display the closest facilities of POS . 
  Arguments : 
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function ShowNearFac(index) {
  var minX = boundArray[index].minLng - (parseFloat(0.01)) * 3;
  var maxX = boundArray[index].maxLng + (parseFloat(0.01)) * 3;
  var minY = boundArray[index].minLat - (parseFloat(0.005)) * 3;
  var maxY = boundArray[index].maxLat + (parseFloat(0.005)) * 3;
  for (var k = 0; k < facMarkers.length; k++) {
    if (((minY < facMarkers[k].mylat) && (facMarkers[k].mylat < maxY)) && (
      (minX < facMarkers[k].mylon) && (facMarkers[k].mylon < maxX))) {
      facMarkers[k].setMap(map);
    } else {
      facMarkers[k].setMap(null);
    }
  }
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that display the new Rectangle when user have edited new bound. 
---------------------------------------------------------------------------------------------------------------*/

function ShowNewRect(event) {
  ne = rectangle.getBounds().getNorthEast();
  sw = rectangle.getBounds().getSouthWest();
  boundArray[posIndex].minLng = sw.lng();
  boundArray[posIndex].minLat = sw.lat();
  boundArray[posIndex].maxLng = ne.lng();
  boundArray[posIndex].maxLat = ne.lat();

  boundArray[posIndex].minPoint = boundArray[posIndex].minLat + ',' + boundArray[posIndex].minLng;
  boundArray[posIndex].maxPoint = boundArray[posIndex].maxLat + ',' + boundArray[posIndex].maxLng;

  var num = getFacInfo(posIndex);

  ChangeColumnVal(posIndex, num);

  PostServer(posIndex, "Update");
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that use geocode api to convert the address into 
    a coordinate(Latitude&Longitude).Then jump that position on google maps
  Arguments : 
    address - The city's location.
/*--------------------------------------------------------------------------------------------------------------*/

function SetCenter(address) {
  geocoder.geocode({
    'address': address
  }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
    }
  });
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that display city's border that cover on the google map. 
  Arguments : 
    key - The cloud document ID.
---------------------------------------------------------------------------------------------------------------*/

function ShowBoundary(key) {
  borderlayer = new google.maps.FusionTablesLayer({
    query: {
      select: 'null',
      from: key
    },
    map: map,
    suppressInfoWindows: true
  });
  google.maps.event.addListener(borderlayer, 'click', function(e) {
    windowControl(e, infoWindow, map);
  });
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that record city's districts.  . 
  Arguments : 
    wardInfo - Response district information from server side. 
---------------------------------------------------------------------------------------------------------------*/

function SetGeo(wardInfo) {
  for (var k = 0; k < wardInfo.length; k++) {
    allWard.push(wardInfo[k].District);
  }
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that check if there have one rectangle on google maps. 
---------------------------------------------------------------------------------------------------------------*/

function CheckRec() {
  if (rectangle) {
    rectangle.setMap(null);
    google.maps.event.clearListeners(rectangle);
    rectangle = null;
  }
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that post different data according different purposes. 
  Arguments : 
    index - An integer pointer that identifies the POS server.
    purpose - Ask server side to do something like "download", "publish" and "update".
---------------------------------------------------------------------------------------------------------------*/

function PostServer(index, purpose) {
  var serverUrl = "";
  var str = "";
  var hr = new XMLHttpRequest();

  switch (purpose) {
    case "Download":
      str = 'download$' + posServer[index].myname + '$' + topicText[index] + '$' + staticImg[index];
      serverUrl = "http://140.109.22.197/send/";
      break;

    case "Publish":
      str = posServer[index].myname;
      serverUrl = "http://140.109.22.197/Publish/";
      break;

    case "Update":
      str = 'update$' + posServer[index].myname + '$' + posServer[index].cutWay + '$' + boundArray[index].minPoint + '$' + boundArray[index].maxPoint + '$' + topicText[index] + '$' + staticImg[index];
      serverUrl = "http://140.109.22.197/send/";
      break;

    default:
      break;
  }

  hr.open("POST", serverUrl, true);
  hr.send(str);
}

/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that open the dialog which show the text or image content according the specified POS. 
  Arguments : 
    type - text, image or other.
    index - An integer pointer that identifies the POS server.
---------------------------------------------------------------------------------------------------------------*/

function fnOpen(type, index) {
  var sFeatures = fnSetValues();
  switch (type) {
    case "Text":
      var sDialogArguments = topicText[index];
      var retValue = window.showModalDialog("/textView/", sDialogArguments, sFeatures);
      break;

    case "Image":
      var sDialogArguments = staticImg[index];
      var retValue = window.showModalDialog("/imgView/", sDialogArguments, sFeatures);
      break;

    default:
      break;
  }
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that set the dialog height. 
---------------------------------------------------------------------------------------------------------------*/

function fnSetValues() {
  var iHeight = 300;
  var sFeatures = "dialogHeight: " + iHeight + "px;";
  return sFeatures;
}
/*-------------------------------------------------------------------------------------------------------------*/

/*
  Description : 
    This function describe that Jump to import data page when there have none facility data. 
---------------------------------------------------------------------------------------------------------------*/

function GoToInsertData() {
  setTimeout('window.location.replace("http://140.109.22.197/admin/importdataview/")', 100);
}
/*-------------------------------------------------------------------------------------------------------------*/

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="ui tabular filter menu">
  <a id="Map" class="active item" data-tab="map">MapView</a>
  <a id="Status" class="item" data-tab="status">Published Data</a>
  <a id="Log" class="item" data-tab="log">Log</a>
</div>
<div class="ui divided inbox selection list active tab" data-tab="map">
  <div class="ui celled grid">
    <div class="nine wide middle column">
      <div id="map_canvas" style="height:600px;"></div>
      <div class="ui divider"></div>
      <div class="ui thin large vertical sidebar" id="Fac_sidebar"></div>

      <div class="ui left floated orange launch button">
        <i id="FacList" class="left arrow icon">Facility List</i>
      </div>
    </div>
    <div class="seven wide right column">
      <h2 id="header" class="ui header">POS Status</h2>
      <div class="ui divider"></div>
      <div id="POSside_bar">
        <table border="0" id="myTable" class="tablesorter">
          <thead>
            <tr>
              <th id="Id">ID</th>
              <th id="Ward">Ward</th>
              <th id="Num">Number</th>
              <th id="Method">Method</th>
            </tr>
            <thead>
        </table>
      </div>
    </div>
    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Reminder
      </div>
      <div class="content">
        <div class="center">
          There have no facility data you inserted, would you import it right now?
        </div>
      </div>
      <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui button" onclick='GoToInsertData()'>Go</div>
      </div>
    </div>
  </div>
</div>
<div class="ui divided inbox selection list tab" data-tab="status">
  <table border="1" id="pubTable" class="ui compact table segment">
    <tr>
      <th>POS Id</th>
      <th>District</th>
      <th>Partition method</th>
      <th>Published Text</th>
      <th>Published Image</th>
      <th>Publish</th>
    </tr>
  </table>
</div>
<div class="ui divided inbox selection list tab" data-tab="log">
</div>
{% endblock %}
